<div class="wrapper">
  <div class="ribbon">
    <a class="back" [routerLink]="['../..']">
      <img src="/assets/icons/back.svg" alt="Back" />
    </a>
    <span class="spacing"></span>
    <span class="info" (click)="toggleInfoPanel()">
      <img *ngIf="showInfoPanel" src="/assets/icons/info-filled.svg" alt="Close info panel" />
      <img *ngIf="!showInfoPanel" src="/assets/icons/info.svg" alt="Open info panel" />
    </span>
  </div>
  <div class="viewer">
    <app-fullscreen-picture
      #pictureComponent
      [ngClass]="{ 'span-2-cols' : !showInfoPanel }"
      [picture]="pictureWrapper" >
    </app-fullscreen-picture>
    <app-info-panel
      *ngIf="showInfoPanel"
      #infoPanelComponent
      class="info-panel"
      [exifTags]="pictureWrapper.picture.exif">
    </app-info-panel>
  </div>
</div>
