.list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  margin: 0.15em;
}

/* Because a thumbnail min-width can be greater than view width on mobile,
   override it to fill the parent (which fills the screen width) */
@media screen and (max-width: 500px) {
  .thumbnail {
    min-width: 100% !important;
  }
}

.placeholder {
  flex-grow: 99999;
}
