<div class="wrapper">
  <div class="ribbon">
    <a class="back" [routerLink]="['../..']">←</a>
    <span class="spacing"></span>
    <span class="info" (click)="toggleInfoPanel()">i</span>
  </div>
  <div class="viewer">
    <app-fullscreen-picture
      #pictureComponent
      [ngClass]="{ 'span-2-cols' : !showInfoPanel }"
      [wrapper]="pictureWrapper" >
    </app-fullscreen-picture>
    <app-info-panel
      *ngIf="showInfoPanel"
      class="info-panel"
      [pictureElement]="pictureComponent.pictureElement">
    </app-info-panel>
  </div>
</div>
