<div class="wrapper">
  <div class="ribbon">
    <a class="back" [routerLink]="['../..']">←</a>
    <span class="spacing"></span>
    <span class="info" (click)="toggleInfoPanel()">i</span>
  </div>
  <div class="viewer">
    <app-fullscreen-picture
      [ngClass]="{ 'span-2-cols' : !showInfoPanel }"
      [wrapper]="pictureWrapper">
    </app-fullscreen-picture>
    <div
      *ngIf="showInfoPanel"
      class="info-panel">info goes here</div> <!-- TODO: replace by component -->
  </div>
</div>
