<app-loader *ngIf="!exifTags"></app-loader>
<div class="wrapper" *ngIf="exifTags">
  <div class="info">
    <img class="icon" src="/assets/icons/lens.svg" alt="Focal length" />
    <span class="content">{{ exifTags[ ExifTag.FOCAL_LENGTH ] }}mm</span>
  </div>
  <div class="info">
    <img class="icon" src="/assets/icons/aperture.svg" alt="Aperture" />
    <span class="content">f/{{ exifTags[ ExifTag.APERTURE ] }}</span>
  </div>
  <div class="info">
    <img class="icon" src="/assets/icons/shutter-speed.svg" alt="Shutter speed" />
    <span class="content">{{ exifTags[ ExifTag.EXPOSURE ] }}s</span>
  </div>
  <div class="info">
    <img class="icon" src="/assets/icons/iso.svg" alt="ISO" />
    <span class="content">{{ exifTags[ ExifTag.ISO ] }}</span>
  </div>
  <div class="info">
    <img class="icon" src="/assets/icons/exposure-program.svg" alt="Exposure program"/>
    <span class="content">{{ exifTags[ ExifTag.PROGRAM ] }}</span>
  </div>
  <div class="info">
    <img class="icon" src="/assets/icons/camera.svg" alt="Camera" />
    <span class="content">{{ exifTags[ ExifTag.MANUFACTURER ] }} {{ exifTags[ ExifTag.MODEL ] }}</span>
  </div>
</div>
