.wrapper {
  display: grid;
  grid-template-columns: 5em 1fr 5em;
  height: inherit;
}

@media screen and (max-width: 800px) {
  .wrapper {
    grid-template-columns: 2em 1fr 2em;
  }
}

.picture {
  display: flex;
  height: inherit;
}

.picture img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.picture-loading {
  display: none;
}

.nav {
  margin: auto;
}

.nav a {
  color: white;
  text-decoration: none;
}

app-loader {
  margin: auto;
}
