<div class="wrapper">
  <div class="nav" *ngIf="wrapper?.previousPictureId; else emptyPrev">
    <a [routerLink]="['..', wrapper?.previousPictureId]">
      <img src="/assets/icons/previous.svg" alt="Previous" />
    </a>
  </div>
  <ng-template #emptyPrev>
    <div class="nav"></div>
  </ng-template>

  <div class="picture">
    <img
        *ngIf="wrapper?.picture"
        #pictureElement
        [src]="wrapper.picture.fullsize.url"
        (load)="doNothing()" />
  </div>

  <div class="nav" *ngIf="wrapper?.nextPictureId; else emptyNext">
    <a [routerLink]="['..', wrapper?.nextPictureId]">
      <img src="/assets/icons/next.svg" alt="Next" />
    </a>
  </div>
  <ng-template #emptyNext>
    <div class="nav"></div>
  </ng-template>
</div>
