<div class="thumbnail-item" [ngClass]="{ 'has-legend' : !!legend }">
  <div class="thumbnail-bg">
    <app-picture [picture]="thumbnail"
                 sizes="(max-width: 600px) 100vw,
                  (max-width: 1000px) 50vw,
                  (max-width: 1350px) 33vw,
                  (max-width: 1650px) 25vw,
                  (min-width: 1650px) 20vw,
                  400px"
                 [classes]="'thumbnail-img'"
                 [placeholder]="true"
                 [alt]="legend"></app-picture>
  </div>
  <p *ngIf="legend" class="thumbnail-legend">{{ legend }}</p>
</div>
