.wrapper {
  padding: 1em;
}

.info {
  display: grid;
  grid-template-columns: 2em 1fr;
  line-height: 2.15em;
}

.icon {
  width: 2em;
  height: auto;
  padding: .25em 0;
}

.content {
  padding: .25em 1em;
}
