<app-loader *ngIf="!exifTags || loading"></app-loader>
<div class="wrapper" *ngIf="exifTags && !loading">
  <div class="info">
    <img class="icon" src="/assets/icons/lens.svg" alt="Focal length" />
    <span class="content">{{ numberToString(exifTags['FocalLength']) }}mm</span>
  </div>
  <div class="info">
    <img class="icon" src="/assets/icons/aperture.svg" alt="Aperture" />
    <span class="content">f/{{ numberToString(exifTags['FNumber']) }}</span>
  </div>
  <div class="info">
    <img class="icon" src="/assets/icons/shutter-speed.svg" alt="Shutter speed" />
    <span class="content">{{ numberToString(exifTags['ExposureTime'], true) }}s</span>
  </div>
  <div class="info">
    <img class="icon" src="/assets/icons/iso.svg" alt="ISO" />
    <span class="content">{{ exifTags['ISOSpeedRatings'] }}</span>
  </div>
  <div class="info">
    <img class="icon" src="/assets/icons/exposure-program.svg" alt="Exposure program"/>
    <span class="content">{{ exifTags['ExposureProgram'] }}</span>
  </div>
  <div class="info">
    <img class="icon" src="/assets/icons/camera.svg" alt="Camera" />
    <span class="content">{{ exifTags['Make'] }} {{ exifTags['Model'] }}</span>
  </div>
</div>
